/*
    1.  Từ ngoài vào trong
    2.  Từ trên xuống dưới
    3.  Tổng quan đến chi tiết
*/
/*
    1.  Vị trí
    2.  Kích thước
    3.  Màu sắc
    4.  Kiểu dáng 
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Helvetica,Arial,sans-serif;
}
ul{
    list-style-type: none;
}
img{
    width: 100%;
}
.clear
{
    clear: both;
}
.pull-right{
    float: right!important;
}
.text-center{
    text-align: center!important;
}
.text-white{
    color: #fff!important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-3{
    width: 33.33333%;
}
.col-2{
    width: 50%;
}
.col-1{
    width: 100%;
}

.mt-8{
    margin-top: 8px!important;
}
.mt-16{
    margin-top: 16px!important;
}

.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}
.btn:hover
{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}